.input-area {
    padding: 20px;
    border: none;
    background-color: #F9F9FA;
}

/* Alignment Buttons */

.alignment-btns label {
    cursor: pointer;
    font-size: 18px;
    color: #6c757d;
}

.alignment-btns i {
    line-height: 2;
}

.form-check-input:hover+i {
    color: rgb(28, 184, 65);
}

.form-check-input {
    position: absolute;
    opacity: 0;
    /* hidden but still tabable */
}

.form-check-input:checked+i {
    color: rgb(28, 184, 65);
}