html {
    min-height: 100%;
}

body {
    height: 100%;
    background-color: #A3A3A3;
    font-family: 'Assistant', sans-serif;
}

#logo {
    position: absolute;
    top: 50px;
    right: 50px;
}

#logo img {
    width: 60px;
    height: 92px;
    position: relative;
}

.menu-btns div, .menu-btns label {
    display: inline;
    cursor: pointer;
    padding: 10px;
}

.menu-btns div i {
    color: #272727;
}

.menu-btns div i:hover, input[type="radio"]:hover+i {
    color: #FCFC62;
}

.menu-btns input[type="radio"] {
    position: absolute;
    opacity: 0;
    /* hidden but still tabable */
}

.menu-btns input[type="radio"]:checked+i {
    color: #FCFC62;
}

.main-content {
    min-height: 100%;
    margin-top: 200px;
    max-width: 1000px;
    margin-bottom: 100px;
}

table {
    margin-top: 50px;
}