body {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, button, input, select, textarea, .pure-g [class *="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Assistant', sans-serif !important;
}