.read-container {
    width: 100%;
}

.pickle-content {
    height: 370px;
    font-size: 26px;
    padding: 10px 10px;
    overflow-y: scroll;
    margin-bottom: 50px;
    /* background-color: gray; */
}

.read-btns div {
    display: inline;
    cursor: pointer;
    padding: 10px;
}

.read-btns div i {
    color: #6c757d;
}

.read-btns div i:hover {
    color: rgb(28, 184, 65);
}